<ion-header>
  <ion-toolbar>
    <ion-title>pagina2</ion-title>
    <h1> navegacion</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Título</ion-label>
    <ion-input [(ngModel)]="tareaEditando.titulo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Descripción</ion-label>

    <ion-input [(ngModel)]="tareaEditando.descripcion"></ion-input>
    <h4> </h4>
    <ion-button (click)="clicBotonInsertar()">Añadir tarea</ion-button>
    <ion-button (click)="clicBotonModificar()">Modificar tarea</ion-button>
   

  </ion-item>

   
  <ion-item>
  <h1>LISTA DE TAREAS</h1>
  <h1>       </h1>
  <ion-list>
    <ion-item *ngFor="let documentTarea of arrayColeccionTareas">
      <ion-grid>
        <ion-row>
          <h5><h4> {{documentTarea.data.titulo}} </h4> </h5>
        </ion-row>
        <ion-row>
          <p>{{documentTarea.data.descripcion}}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  </ion-item>

  <p> Título: {{ document.data.titulo }} </p>
  <ion-item>
  <ion-list>
    <ion-item *ngFor="let documentTarea of arrayColeccionTareas" (click)="selecTarea(documentTarea)">
      ...
    </ion-item>
  </ion-list>
 
</ion-item>

<ion-button (click)="buscarporid()">Borrar tarea</ion-button>

<p> Título: {{ document.data.titulo }} </p>
  
</ion-content>
