<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TuViviedApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  
 <ion-item>
  <ion-button routerLink="/pagina1" routerDirection="forward">Pagina1 </ion-button>
  <ion-button routerLink="/pagina2" routerDirection="forward">Pagina2 </ion-button>

  <ion-button routerLink="/login" routerDirection="forward">login </ion-button>

  <ion-button routerLink="/register" routerDirection="forward">Registrar </ion-button>

  <ion-button routerLink="/menu" routerDirection="forward">Menu </ion-button>

</ion-item>


</ion-content>
