<ion-header>
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

ngModel

<ion-content>

  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input  placeholder='Nombre'[(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Email</ion-label>
    <ion-input type='Email'placeholder="Email" [(ngModel)]="email"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Clave</ion-label>
    <ion-input type='password' placeholder='Clave' [(ngModel)]="password"></ion-input>
  </ion-item>
  
  <ion-item>
   
    <ion-button color="primary"(click)="loging()" >Registrar</ion-button>

  </ion-item>
  


</ion-content>
